::-webkit-scrollbar{
    color: orangered;
}
.grid-container{
    max-width: 800px;
    overflow-x: hidden;
    margin: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    ". two two two three four . ."
    "one two two two five five six ."
    ". two two two five five seven eight"
    "nine ten eleven eleven twelve . . ."
    ". . eleven eleven . . . .";
}

.grid-container > div{
    overflow: hidden;
    border-radius: 0.7rem;
}


img{
    width: 100%;
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

img:hover{
    transform: scale(1.1);
    rotate: -3deg;
}

.grid-container :nth-child(1){
    grid-area: one;
}

.grid-container :nth-child(2){
    grid-area: two;
}

.grid-container :nth-child(3){
    grid-area: three;
}

.grid-container :nth-child(4){
    grid-area: four;
    background-color: #ffecc3;
    border-bottom-right-radius: 100%;
}

.grid-container :nth-child(5){
    grid-area: five;
}

.grid-container :nth-child(6){
    grid-area: six;
    background-color: #ccf0ee;
    border-top-right-radius: 100%;
}

.grid-container :nth-child(7){
    grid-area: seven;
    /*
    border-bottom-right-radius: 100%;
    */
}

.grid-container :nth-child(8){
    grid-area: eight;
    background-color: #cdd7f0;
    border-radius: 100%;
}

.grid-container :nth-child(9){
    grid-area: nine;
    background-color: #ffdce0;
    border-top-left-radius: 50%;
}

.grid-container :nth-child(10){
    grid-area: ten;
}

.grid-container :nth-child(11){
    grid-area: eleven;
}

.grid-container :nth-child(12){
    grid-area: twelve;
}
