::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: orangered;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}


.basis{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}


.grid-container{
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    overflow-x: hidden;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    ". two two two three four . ."
    "one two two two five five six ."
    ". two two two five five seven eight"
    "nine ten eleven eleven twelve . . ."
    ". . eleven eleven . . . .";
}

.grid-container > div{
    overflow: hidden;
    border-radius: 0.7rem;
}


img{
    width: 100%;
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

img:hover{
    transform: scale(1.1);
    rotate: -3deg;
}

.grid-container :nth-child(1){
    grid-area: one;
}

.grid-container :nth-child(2){
    grid-area: two;
}

.grid-container :nth-child(3){
    grid-area: three;
}

.grid-container :nth-child(4){
    grid-area: four;
    background-color: #ffecc3;
    border-bottom-right-radius: 100%;
}

.grid-container :nth-child(5){
    grid-area: five;
}

.grid-container :nth-child(6){
    grid-area: six;
    background-color: #ccf0ee;
    border-top-right-radius: 100%;
}

.grid-container :nth-child(7){
    grid-area: seven;
    /*
    border-bottom-right-radius: 100%;
    */
}

.grid-container :nth-child(8){
    grid-area: eight;
    background-color: #cdd7f0;
    border-radius: 100%;
}

.grid-container :nth-child(9){
    grid-area: nine;
    background-color: #ffdce0;
    border-top-left-radius: 50%;
}

.grid-container :nth-child(10){
    grid-area: ten;
}

.grid-container :nth-child(11){
    grid-area: eleven;
}

.grid-container :nth-child(12){
    grid-area: twelve;
}



.grid-container-2end{
    width: 100%;
    overflow-x: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    ". n2  n2  n2  n3  n4 . ."
    "n1 n2  n2  n2  n5  n5 n6 ."
    ". n2  n2  n2  n5  n5 n7 n8"
    "n9 n10 n11 n11 n12 . . ."
    ". .  n11 n11 .  . . .";   
}
/* 0.5rem * 8 = 4rem */
/* 1rem * 8 = 8rem   */
.grid-container-2end > div{
    min-height: calc( (800px - 4rem)/8);
    background-color: #ff4400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container-2end :nth-child(1){
    grid-area: n1;
}

.grid-container-2end :nth-child(2){
    grid-area: n2;
}

.grid-container-2end :nth-child(3){
    grid-area: n3;
}

.grid-container-2end :nth-child(4){
    grid-area: n4;
}

.grid-container-2end :nth-child(5){
    grid-area: n5;
}

.grid-container-2end :nth-child(6){
    grid-area: n6;
}

.grid-container-2end :nth-child(7){
    grid-area: n7;
}

.grid-container-2end :nth-child(8){
    grid-area: n8;
}

.grid-container-2end :nth-child(9){
    grid-area: n9;
}

.grid-container-2end :nth-child(10){
    grid-area: n10;
}

.grid-container-2end :nth-child(11){
    grid-area: n11;
}

.grid-container-2end :nth-child(12){
    grid-area: n12;
}